@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
*{
    margin: 0;
}
.page{
    display: flex;
    background: radial-gradient(circle at 100%, #0a5694, #058b85 50%, #07af74 75%, #078d10 75%);
    text-align: center;
    flex-direction: column;
}

header{
    text-align: center;
}
h1{
    color: brown;
    text-decoration: underline;
    text-decoration-color: palevioletred; 
    font-size: 5em;
    text-shadow: 2px 4px 8px purple;
    font-family: 'Emilys Candy', cursive;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

input{
    width: 10em;
    margin: auto;
    font-size: 3em;
}

.result{
    color: purple;
    font-size: 2em;
    margin-top: 1em;
}

.formulaire{
    background-color: #0a5694;
    width: 70em;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}

h2{
    color: palevioletred;
    text-decoration: underline;
    font-size: 3em;
}

.inform{
    display: flex;
    margin-left: 2em;
    font-size: 1.5em;
    text-align: left;
    margin-top: 2em;
}

.name{
    margin-left: 1em;
    background-color: #f5f5f649;
    font-size: 1em;
}

.facture{
    background-color: white;
    margin: auto;
    margin-top: 3em;
    display: flex;
    width: 70em;
    flex-direction: column;
    text-align: left;
    padding: 3em;
    border: 5px solid black;
}

.en_tete{
    display: flex;
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 0.5em;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    display: flex;
    margin: auto;
    width: 7em;
    margin-left: 0;
    color: brown;
}

.logo{
    display: flex;
    background-color: grey;
    color: white;
    border-radius: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.4em;
    padding-left: 0.5em;
    padding-top: 0.9em;
    padding-right: 0.5em;
    height: 2.3em;
    margin: auto;
}

.adress{
    margin-top: 1em;
    border: 1px solid black;
    width: 10em;
    padding: 1em;
}
h4{
    font-size: 2em;
    text-decoration: underline;
}

.box{
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
}

.boxs{
    display: flex;
    border: 1px solid black;
    padding: 1em;
    width: 12em;
    text-align: center;
    flex-direction: column;
}
h5{
    text-transform: uppercase;
    text-decoration: underline;
    margin: auto;
    margin-bottom: 1em;
}

.textbox{
    display: flex;
    margin: auto;
}

.box1{
    display: flex;
    border: 1px solid black;
    padding: 1em;
    width: 25em;
    text-align: center;
    flex-direction: column;
}

.box_titre{
    display: flex;
}